.Weather {
  border: 1px solid black;
  padding: 16px;
  border-radius: 6px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: black;
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 0 0;
  line-height: 1.5;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: gray;
  display: block;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  text-align: left;
  list-style: none;
}

.Weather canvas {
  height: 64px;
  width: px;
  display: block;
  float: left;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 62px;
  line-height: 64px;
}

.Weather .unit {
  color: gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
}
